{% extends 'base.html' %}

{% block title %}
Архів замовлень {{ block.super }}
{% endblock %}


{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            {% if orders %}
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                <tr>
                    <th>Замовлення</th>
                    <th>Замовник</th>
                    <th>Товари</th>
                    <th>Ціна за одиницю</th>
                    <th>Кількість</th>
                    <th>Сума</th>
                    <th>Загальна сума</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                {% for order in orders %}
                <tr>
                    <td class="align-left">
                        <p align="left">№ {{ order.order_number }} від {{ order.created|date:"F d, Y" }}</p>
                        <h6 align="left">{{ order.status }}</h6>
                    </td>
                    <td class="align-left">{{ order.first_name }} {{ order.last_name }}</td>
                    <td class="align-left">
                        {% for item in order.cart.cartitem_set.all %}
                        <p align="left">
                            <a class="h6 text-decoration-none text-truncate"
                               href="{{ item.product.get_absolute_url }}">{{ item.product|truncatewords_html:6 }}
                            </a>
                        </p>
                        {% endfor %}
                    </td>
                    <td class="align-left">
                        {% for item in order.cart.cartitem_set.all %}
                        <p align="left">{{ item.product.price }} ₴</p>
                        {% endfor %}
                    </td>
                    <td class="align-left">
                        {% for item in order.cart.cartitem_set.all %}
                        <p align="left">{{ item.quantity }}</p>
                        {% endfor %}
                    </td>
                    <td class="align-left">
                        {% for item in order.cart.cartitem_set.all %}
                        <p align="left">{{ item.total_item_price }} ₴</p>
                        {% endfor %}
                    </td>
                    <td class="align-left">
                        <h6 align="left">{{ order.cart.total_cart_sum.price_total }} ₴</h6>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="col-lg-6 mb-5">
                <div class="order_empty">
                    <div class="order_empty__image" style="display: flex; justify-content: right;">
                        <img src="{% static 'img/empty_order-list.png' %}" width="300" height="350"
                             alt="нема замовлень зображення" style="overflow-clip-margin: content-box;">
                    </div>
                    <div class="order_empty__text" style="display: flex; justify-content: right;">
                        <h4>У вас немає замовлень</h4>
                    </div>
                    <div class="order_empty__text" style="display: flex; justify-content: right; padding-right: 40px;">
                        <p>Але це можна виправити</p>
                    </div>
                    <div class="order_empty__button"
                         style="display: flex; justify-content: right; padding-right: 50px;">
                        <button onclick="window.location.href = '{% url 'list_of_products' %}';" class="btn btn-primary
                        font-weight-bold py-3">Перейти в магазин
                        </button>
                    </div>
                </div>
            </div>


            {% endif %}
        </div>
    </div>
</div>
{% endblock %}