{% extends 'base.html' %}


{% block title %}
Купити {{ product_item.name }}
{% endblock %}


{% block content %}
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    {% for image_object in product_item.productimage_set.all %}
                    <div class="carousel-item {% if forloop.first %} active {%endif%}">
                        <img class="d-block w-100" src="{{ image_object.image.url }}" alt="0">
                    </div>
                    {% endfor %}
                </div>
                {% if product_item.productimage_set.all.count > 1%}
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <div class="border-bottom pb-1 mb-4">
                        <div class="d-flex justify-content-between mb-3">
                            <h4>
                                <a class="h5" href="{% url 'home' %}">Головна > </a>
                                <a class="h5" href="{% url 'list_of_products' %}">Каталог ></a>
                                <a class="h5" href="{{ product_item.category.get_absolute_url }}">{{ product_item.category }}</a>
                            </h4>
                        </div>
                </div>
                <h3 class="font-weight-semi-bold mb-5">{{ product_item.name }}</h3>
                <h3 class="font-weight-semi-bold mb-4">{{ product_item.price }} грн.</h3>

                <p class="mb-4">{{ product_item.description }}</p>
                <h4 class="font-weight-semi-bold mb-4"> Матеріал: {{ product_item.material }} </h4>
                <div class="d-flex mb-3 size_div" value="">
                    {% if product_item.size.all %}
                    <strong class="text-dark mr-3">Розмір:</strong>
                    {% for size in product_item.size.all %}
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="{{ size.id }}" name="size">
                        <label class="custom-control-label size_choice_label" for="{{ size.id }}">{{ size }}</label>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div id="{{ product_item.id }}" class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus minus_button">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center quantity_input"
                               value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus plus_button">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3 add_to_cart_button"><i class="fa fa-shopping-cart mr-1"></i>
                        Додати до кошика
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
{% load static %}
<script src="{% static 'js/product_scripts.js' %}"></script>
{% endblock %}