{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }}
{% endblock %}


{% block content %}

<div class="container-fluid pt-5 pb-3">
    {% if products %}
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Наші товари</span>
    </h2>
    <div class="row px-xl-5">
        {% for item in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="product-item bg-light mb-4" style="object-fit:contain; height: 100%;">
                <div class="card-header">
                    Категорія: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                </div>
                <div class="product-img position-relative overflow-hidden">
                    <div id="product-carousel-{{item.id}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            {% for image_object in item.productimage_set.all %}

                            <div class="carousel-item {% if forloop.first %} active {%endif%}">
                                <img class="d-block w-100 " src="{{ image_object.image.url }}" alt="0"
                                     style="object-fit:contain;
                                       width:200px;
                                       height:300px;">
                            </div>

                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel-{{item.id}}" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel-{{item.id}}" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    </div>
                </div>
                <div class="text-center py-4 ">
                    <a class="card-title h6 text-decoration-none p-2" href="{{ item.get_absolute_url }}">
                        {{ item.name|truncatewords_html:6 }}
                    </a>
                    <h5 class="card-text mb-4">{{ item.price|safe }} грн.</h5>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary" style="object-fit:contain;">Перейти до
                        товару</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-lg-12 text-center">
            <h3>Пошук не дав результатів. Спробуйте сформулювати по іншому</h3>
        </div>
        {% endif %}
    </div>
</div>
{% block extra_js %}{% endblock %}
{% endblock %}